<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo Spring Boot</title>
</head>
<body>
<div class="cont">

    <a th:href="@{/anexar}">Alta Individuo</a>   <!--NOS LLEVA AL  FORM DE ALTA DE INDIVIDUO-->
    <div th:if="${individuos != null and not #lists.isEmpty(individuos)}">        <!--SI LA LISTA NO ESTA VACIA QUE MUESTRE LA TABLA-->
            <table border="2">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Cambiar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="individuo : ${individuos}">   <!--PARA QUE ITERE EN LA LISTA-->
                    <td th:text="${individuo.nombre}"></td>
                    <td th:text="${individuo.apellido}"></td>
                    <td th:text="${individuo.edad}"></td>
                    <td th:text="${individuo.correo}"></td>
                    <td th:text="${individuo.telefono}"></td>
                    <td> <a th:href="@{/cambiar/} + ${individuo.id}" th:text="Cambiar"/></td>
                    <td> <a th:href="@{/borrar/} + ${individuo.id}" th:text="Eliminar"/></td>

                </tr>

            </table>

    </div>
</div>
</body>
</html>